fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic[email]
sqlalchemy
bcrypt
python-jose[cryptography]
python-dotenv
google-genai
PyMuPDF
pypdf
reportlab
streamlit-mic-recorder
gTTS
SpeechRecognition